@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section Style
{
    <style>
        #wrapper {
            width: 80%;
            margin: 0 auto;
        }
        p {
            font-size: 14px;
        }
    </style>
    
}
<h2 class="text-center text-info">About BGC Trust University</h2>
<div id="wrapper">
    <p align="justify">
        Welcome to BGC Trust University Bangladesh (BGCTUB), a modern and dynamic place for higher education at the forefront of academic innovation. BGCTUB is a truly multi-faceted experience offering outstanding learning opportunity, with a fascinating cultural mix (Rural and Urban) of students from various part of the country, studying different programs.

        BGC Trust was founded by a philanthropist and educationist Engr. Afsar Uddin Ahmad who has a commitment to the soil as a front line Freedom Fighter and organizer of the liberation War of Bangladesh provide tailor-made courses and programs to develop individuals, decision makers and entrepreneurs to face challenge emerge from globalization and today’s changing economy.

        The establishment of BGC Trust University Bangladesh is a decisive step towards transformation of mere human population into human resources in terms of knowledge, skill and diversification. BGC Trust University is committed to achieve excellence in research and academic scholastic. In order to maximize the resources available for learning, teaching and research, the University has developed a collaborative links with other educational institutions with global reputation.

        BGC Trust University is attested with the highest level of accreditation. It is approved by the Government, Ministry of Education and University Grants Commission (UGC) of Bangladesh.
    </p>


    
    <div>
        <p align="left" style="color: indigo;font-size: 29px">Mission :&nbsp</p>
        <p align="justify">
            Our mission is to promote the fusion of urban and rural culture, thought and innovation. BGCTUB is committed to the ideals of equal opportunity and transparency. It aims to provide higher quality education at an affordable cost without any discrimination. The distinction lies in a range of subjects taught here, integrating them with global demand and our national need.

            We are resolutely dedicated to helping youngsters to become patriotic, enthusiastic, responsible and caring citizens of the nation and the world as a whole.
        </p>
    </div>
    <div>
        <p align="left" style="color: indigo;font-size: 29px">Vision :&nbsp</p>
        <p align="justify">
            The vision of BGC Trust University Bangladesh is to work unflinchingly and flourish as a prestigious seat of learning in the country. As a centre of excellence, it aims at creating quality manpower in the fields of higher education and research. BGCTUB’s dreams is to transform population into human resources and to inspire and motivate the youth with the spirit of patriotism.
        </p>
        
    </div>

</div>