@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="text-center">
    <h2>@ViewBag.Title US.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Patiya<br />
        Chittagong<br />
        <abbr title="Phone">P:</abbr>
        018XXXXXXXX
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:prima@gmail.com">prima@gmail.com</a><br />
    </address>
</div>