@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/Content/Image/towhid.jpg" width="300" height="200"/>

<address>
    Karnafully<br />
    Chittagong<br />
    <abbr title="Phone">P:</abbr>
    018XXXXXXXX
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:towhidulislamcse@gmail.com">towhidulislamcse@gmail.com</a><br />
</address>