body {
    background-image: url('bgpic.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('bgpic.jpg');
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

div {
    color:yellow;
}